.toast{
    position: fixed;
    left: 50%;
	transform: translate(-50%,-50%);
    z-index: 10;
    line-height: 22px;
    font-size: 14px;

    display: inline-block;
    padding: 10px 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    pointer-events: all;
    top: -200px;
    transition: top .2s ease-in;
}

.toast.show{
    top: 40px;
}
