.App {
  background: #f5f7fd;
  min-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.header{
  position: fixed;
  top:16px;
  right: 22px;
  left:22px;
  padding: 8px;
  display: flex;
  justify-content: space-between ;
  background: center center / cover rgba(244, 247, 254, 0.2);
  filter: none;
  backdrop-filter: blur(20px);
  border-radius: 16px;
}
.header-title{
  font-size: 28px;
  color: #1B2559;
  align-self: end;
  text-align: left;
  line-height: 44px;
}

.main{
  padding-top: 80px
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header-title{
    align-self: flex-start !important;
    margin-bottom: 8px;
  }

  .main{
    padding-top: 128px
  }
}